<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Freddy Harris - Concepteur Développeur Web et Multimédia - Portfolio</title>
	<meta name="description" content="Portfolio d'un développeur web et multimédia curieux et passioné. La conception et la réalisation font parties de mes compétences." />
	<meta name="viewport" content="initial-scale=1.0" />
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="image_src" href="img/meta_img_link.jpg" />
	
	<meta property="og:title" content="Freddy Harris - Concepteur Développeur Web et Multimédia" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.harris-freddy.com/" />
	<meta property="og:image" content="http://www.harris-freddy.com/img/meta_img_link.jpg" />
	<meta property="og:site_name" content="Portfolio Freddy Harris" />
	<meta property="fb:admins" content="1491019501" />
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.4.2/mustache.min.js"></script>-->

	<!--<script src="mylightbox.js"></script>
	<script type="text/javascript">$(document).ready(function() {
		
		//$('#works article').mylightbox();
		
	});</script>-->
</head>

<body>

<script type="text/template" id="works-collection-template">
  <% _.each(works, function(work) { %>
    <article data-slug="<%= work.slug %>">
			<img src="<%= work.thumbnail.img.src %>" alt="<%= work.thumbnail.img.alt %>" />
			<h1><%= work.thumbnail.title %></h1>
			<p><%= work.thumbnail.body %></p>
		</article>
  <% }); %>
</script>

<script type="text/template" id="lightbox-work-template">
	<div id="lightbox" class="disappear">
		<div id="lightbox-overlay"></div>
		<div class="row">
			<span id="closeLightbox" class="close-button">X</span>
			<div id="lightbox-image">
				<ul>
					<li><a target='_blank' href="<%= work.img[0] %>"><img src="/css/img/ajax-loader.gif" /></a></li><!--
					--><li><a target='_blank' href="<%= work.img[1] %>"><img src="/css/img/ajax-loader.gif" /></a></li><!--
					--><li><a target='_blank' href="<%= work.img[2] %>"><img src="/css/img/ajax-loader.gif" /></a></li>
				</ul>
			</div>
			<div id="lightbox-info">
				<h1><%= work.title %></h1>
				<dl>
					<dt>Présentation</dt>
					<dd><%= work.presentation %></dd>
					
					<dt>Contexte</dt>
					<dd><%= work.context %></dd>
					
					<dt>Compétences</dt>
					<dd><%= work.skill %></dd>
					
					<dt>État du projet</dt>
					<dd><%= work.state %></dd>
				</dl>
			</div>
		</div>
	</div>
</script>

<header>
	<div class="row">
		<div id="me">
			<svg id="logo" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="78.3921" y1="58.0591" x2="78.3921" y2="94.5762">
					<stop  offset="0" style="stop-color:#545454"/>
					<stop  offset="1" style="stop-color:#020202"/>
				</linearGradient>
				<path fill="url(#SVGID_1_)" d="M87.489,84.78l5.604-25.634l-29.401-1.087l17.637,36.517C84.354,92.213,86.606,88.823,87.489,84.78z
					"/>
				<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="32.6626" y1="0" x2="32.6626" y2="97.4082">
					<stop  offset="0" style="stop-color:#545454"/>
					<stop  offset="1" style="stop-color:#020202"/>
				</linearGradient>
				<path fill="url(#SVGID_2_)" d="M22.036,87.945V0c-4.855,2.112-8.67,6.432-9.888,12L0.397,65.736
					c-2.012,9.214,3.822,18.312,13.032,20.326l51.897,11.346L49.818,63.017L22.036,87.945z"/>
				<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="74.4556" y1="2.6436" x2="74.4556" y2="50.3301">
					<stop  offset="0" style="stop-color:#545454"/>
					<stop  offset="1" style="stop-color:#020202"/>
				</linearGradient>
				<path fill="url(#SVGID_3_)" d="M99.239,31.042c2.014-9.21-3.821-18.31-13.03-20.323L49.275,2.644L95.021,50.33L99.239,31.042z"/>
			</svg>
			<!--<img id="logo" src="img/portfoliologo.png" alt="Logo curseur" />-->
			<hgroup>
				<h1>freddy</h1>
				<h2>harris</h2>
				<h3>concepteur, développeur web et multimédia</h3>
			</hgroup>
		</div>
		<div id="education">
			<ul>
				<li><strong>Dev. Backbone JS chez <a target='_blank' href="http://www.useradgents.com/">userADgents</a></strong> <span class="precision">now</span></li>
				<li>Stage dev. PHP / JS chez <a target='_blank' href="http://kontestapp.com/fr/">Kontest</a> <span class="precision">2012</span></li>
				<li>Master 2 PSM <span class="precision">Montbéliard 2010 / 2012</span></li>
				<li>Licence SLIC/CM <span class="precision">Montbéliard 2009 / 2010</span></li>
				<li>DUT SRC <span class="precision">Le Puy-en-Velay 2007 / 2009</span></li>
			</ul>
		</div>
	</div>
</header>

<div id="content">
	<div class="row">
		<div id="works">
			<h1>Travaux</h1>
		</div>
		<aside>
			<h1>À propos</h1>
			<p>Jeune curieux et passionné du web. Je suis développeur dans différents langages front et back-end. Mais je m'intéresse aussi fortement à la phase de conception, au design d'interface et à l'expérience utilisateur.</p>
			<p>Mon temps est partagé entre la veille technologique et le développement. Je suis à la fois sensible aux standards du web et intéressé par les autres technologies qui constituent le multimédia.</p>
			<p>J'aimerais travailler sur des projets innovants au sein d'une équipe dynamique. Je suis rigoureux, autonome et intéressé par l'apprentissage de nouvelles technologies.</p>
			<!--<p><strong>Je suis en recherche de poste en CDI, je suis disponible dès la fin du mois de Juin</strong>, <a href="CV-Freddy-Harris.pdf" target='_blank'>voir mon CV</a></p>-->
			<h1>Compétences</h1>
			<h2>Front-end</h2>
			<ul>
				<li>JavaScript</li>
				<li>Backbone, Marionette</li>
				<li>Require, Underscore, jQuery</li>
				<li>HTML 5, CSS3</li>
				<li>SASS, Compass</li>
				<li>iOS <span class="precision">(Objective-C)</span></li>
				<li>ActionScript 3, Flex 4</li>
			</ul>
			<h2>Back-end</h2>
			<ul>
				<li>Ruby on Rails</li>
				<li>Postgre</li>
				<li>Node.js</li>
				<li>PHP</li>
				<li>MySQL <span class="precision">(Merise)</span></li>
				<li>CakePHP</li>
			</ul>
			<h2>Architecture & API</h2>
			<ul>
				<li>MVC</li>
				<li>REST</li>
				<li>Web sémantique <span class="precision">(RDF, OWL, SPARQL)</span></li>
			</ul>
			<h2>Conception</h2>
			<ul>
				<li>Interface homme-machine <span class="precision">(IHM)</span></li>
				<li>Ergonomie, Utilisabilité</li>
				<li>Expérience utilisateur <span class="precision">(UX)</span></li>
				<li>Mobile first</li>
				<li>Responsive design</li>
				<li>Ubimédia</li>
			</ul>
			<h2>Environnement</h2>
			<ul>
				<li>Git</li>
				<li>Sublime Text 2</li>
				<li>OS X</li>
			</ul>
		</aside>
	</div>
</div>

<footer>
	<div class="row">
		<div id="social">
			<ul>
				<li id="mail"><a href="mailto:contact@harris-freddy.com">contact[at]harris-freddy.com</a></li>
				<li id="cv"><a href="CV-Freddy-Harris.pdf" target='_blank' >Curriculum vitæ</a></li>
				<!--<li id="tel"><span></span></li>-->
				<li><a target='_blank' href="http://twitter.com/HarrisFreddy"><img src="img/logotwitter.png" alt="Logo Twitter" /></a></li>
				<li><a target='_blank' href="http://plus.google.com/107160695104990265535/about"><img src="img/logogoogleplus.png" alt="Logo Google+" /></a></li>
				<li><a target='_blank' href="http://fr.linkedin.com/pub/freddy-harris/35/b99/3b"><img src="img/logolinkedin.png" alt="Logo Linkedin" /></a></li>
				<li><a target='_blank' href="http://www.viadeo.com/fr/profile/freddy.harris"><img src="img/logoviadeo.png" alt="Logo Viadeo" /></a></li>
			</ul>
		</div>
		<div id="tweets">
			<script src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 6,
			  interval: 6000,
			  width: 'auto',
			  height: 300,
			  theme: {
			    shell: {
			      background: 'rgba(0,0,0,0)',
			      color: '#ffffff'
			    },
			    tweets: {
			      background: 'rgba(0,0,0,0)',
			      color: '#fff',
			      links: '#00c0ff'
			    }
			  },
			  features: {
			    scrollbar: false,
			    loop: false,
			    live: false,
			    hashtags: true,
			    timestamp: true,
			    avatars: false,
			    behavior: 'all'
			  }
			}).render().setUser('HarrisFreddy').start();
			</script>
		</div>
	</div>
	<!--<img src="img/HTML5_1Color_White.png" alt="Logo HTML5" />-->
</footer>

    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7724228-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<script src="app.js"></script>
</body>

</html>