<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Freddy Harris - Concepteur Développeur Web et Multimédia - Portfolio</title>
	<meta name="description" content="Portfolio d'un développeur web et multimédia curieux et passioné. La conception et la réalisation font parties de mes compétences." />
	<meta name="viewport" content=" initial-scale=1.0" />
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="image_src" href="img/meta_img_link.jpg" />
	
	<meta property="og:title" content="Freddy Harris - Concepteur Développeur Web et Multimédia" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.harris-freddy.com/" />
	<meta property="og:image" content="http://www.harris-freddy.com/img/meta_img_link.jpg" />
	<meta property="og:site_name" content="Portfolio Freddy Harris" />
	<meta property="fb:admins" content="1491019501" />
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.4.2/mustache.min.js"></script>-->

	<!--<script src="mylightbox.js"></script>
	<script type="text/javascript">$(document).ready(function() {
		
		//$('#works article').mylightbox();
		
	});</script>-->
</head>

<body>

<script type="text/template" id="works-collection-template">
  <% _.each(works, function(work) { %>
    <article data-slug="<%= work.slug %>">
			<img src="<%= work.thumbnail.img.src %>" alt="<%= work.thumbnail.img.alt %>" />
			<h1><%= work.thumbnail.title %></h1>
			<p><%= work.thumbnail.body %></p>
		</article>
  <% }); %>
</script>

<script type="text/template" id="lightbox-work-template">
	<div id="lightbox" class="disappear">
		<div id="lightbox-overlay"></div>
		<div class="row">
			<span id="closeLightbox" class="close-button">X</span>
			<div id="lightbox-image">
				<ul>
					<li><a target='_blank' href="<%= work.img[0] %>"><img src="/css/img/ajax-loader.gif" /></a></li><!--
					--><li><a target='_blank' href="<%= work.img[1] %>"><img src="/css/img/ajax-loader.gif" /></a></li><!--
					--><li><a target='_blank' href="<%= work.img[2] %>"><img src="/css/img/ajax-loader.gif" /></a></li>
				</ul>
			</div>
			<div id="lightbox-info">
				<h1><%= work.title %></h1>
				<dl>
					<dt>Présentation</dt>
					<dd><%= work.presentation %></dd>
					
					<dt>Contexte</dt>
					<dd><%= work.context %></dd>
					
					<dt>Compétences</dt>
					<dd><%= work.skill %></dd>
					
					<dt>État du projet</dt>
					<dd><%= work.state %></dd>
				</dl>
			</div>
		</div>
	</div>
</script>

<header>
	<div class="row">
		<div id="me">
			<img id="logo" src="img/portfoliologo.png" alt="Logo curseur" />
			<hgroup>
				<h1>freddy</h1>
				<h2>harris</h2>
				<h3>concepteur, développeur web et multimédia</h3>
			</hgroup>
		</div>
		<div id="education">
			<ul>
				<li><strong>Dev. Backbone JS chez <a target='_blank' href="http://www.useradgents.com/">userADgents</a></strong> <span class="precision">2012</span></li>
				<li>Stage dev. PHP / JS chez <a target='_blank' href="http://kontestapp.com/fr/">Kontest</a> <span class="precision">2012</span></li>
				<li>Master 2 PSM <span class="precision">Montbéliard 2010 / 2012</span></li>
				<li>Licence SLIC/CM <span class="precision">Montbéliard 2009 / 2010</span></li>
				<li>DUT SRC <span class="precision">Le Puy-en-Velay 2007 / 2009</span></li>
			</ul>
		</div>
	</div>
</header>

<div id="content">
	<div class="row">
		<div id="works">
			<h1>Travaux</h1>
			
			<!--<article data-index="1">
				<img src="img/sitepcgc.png" alt="Site Flex du court métrage d'animation PCGC" />
				<h1>Site du film PCGC</h1>
				<p>Site en Flex d'un court métrage d'animation 3D. Découpage d'une maquette PSD et design interactif sous Fl Catalyst puis développement AS3 avec Fl Builder.</p>
			</article>
			<article data-index="0">
				<img src="img/mangacollec.png" alt="Site CakePHP MangaCollec de gestion de manga" />
				<h1>MangaCollec</h1>
				<p>Conception d'une base de données et développement du site avec une architecture MVC grâce à CakePHP. Interface interactive avec jQuery UI. API Amazon.</p>
			</article>
			<article data-index="2">
				<img src="img/psmcss.png"  alt="Site PSM Intégration HTML5 CSS3" />
				<h1>Intégration HTML5/CSS3</h1>
				<p>Création du design sous Photoshop puis intégration en respectant la sémantique des balises HTML5 et en supprimant les images de design grâce à CSS3.</p>
			</article>
			<article data-index="3">
				<img src="img/courantcontinu.png" alt="Objet pédagogique intéractif sur les courants continus" />
				<h1>Application eLearning</h1>
				<p>Conception et réalisation d'un objet pédagogique en ActionScript 3 visant à apprendre les concepts de puissances électriques à l'aide d'un circuit interactif.</p>
			</article>
			<article data-index="4">
				<img src="img/sphere3d.png" alt="Flash Actionscript 3 Sphère 3D" />
				<h1>Sphère 3D Flash</h1>
				<p>Développement Actionscript 3. Récupération de photos sur Picasa via un flux mRSS et affichage sur une sphère 3D interactive grâce aux matrices de transformation 3D.</p>
			</article>
			<article data-index="5">
				<img src="img/tasksrestful.png" alt="Webservice de liste de tâches en RESTful" />
				<h1>Webservice RESTful</h1>
				<p>Service de liste de tâches proposant une API RESTful développée avec CakePHP. Elle permet les actions CRUD, l'authentification HTTP. Accessible XML et JSON.</p>
			</article>
			<article data-index="6">
				<img src="img/gamemouv.png" alt="Site CakePHP Gamemouv de jeu à instant gagnant"  />
				<h1>Gamemouv</h1>
				<p>Site de jeu à instant gagnant développé avec CakePHP. Gestion des appels/sms grâce au système Allopass avec vérification. Base de données et connexion utilisateur.</p>
			</article>
			<article data-index="7">
				<img src="img/frogomaton.png" alt="Flash Photomaton Webcam AMFPHP" />
				<h1>Photomaton Webcam</h1>
				<p>Module Flash pour un événementiel développé pendant un stage. Permet la prise de photo grâce à la webcam, et la sauvegarde sur le serveur via une passerelle AMFPHP.</p>
			</article>
			<article data-index="8">
				<img src="img/pluginjw.png" alt="Flash plugins JWPlayer" />
				<h1>Plugins JWPlayer</h1>
				<p>Développé pendant un stage, ces plugins pour JWPlayer (player vidéo Flash très utilisé) permettent l'affichage de bandeau pub et le sous titrage d'événements en live.</p>
			</article>
			<article data-index="10">
				<img src="img/lepuyhotel.png" alt="Site Intégration xHTML CSS" />
				<h1>Intégration xHTML/CSS</h1>
				<p>Intégration d'une maquette PSD en xHTML 1, CSS 2 et des quelques éléments intéractifs en Javascript/jQuery. Réalisé lors d'un stage. Compatible tous navigateurs.</p>
			</article>
			<article data-index="9">
				<img src="img/oldportfolio.png" alt="Ancien portfolio ajax jquery" />
				<h1>Ancien Portfolio Ajax</h1>
				<p>Premier portfolio présentant mes travaux de début d'études. Les animations et le chargement asynchrone des contenus des pages furent réalisées avec jQuery.</p>
			</article>-->
		</div>
		<aside>
			<h1>À propos</h1>
			<p>Jeune curieux et passionné du web. Je suis développeur dans différents langages front et server-side. Mais je m'intéresse aussi fortement à la phase de conception, au design d'interface et à l'expérience utilisateur.</p>
			<p>Mon temps est partagé entre la veille technologique et le développement. Je suis à la fois sensible aux standards du web et intéressé par les autres technologies qui constituent le multimédia.</p>
			<p>J'aimerais travailler sur des projets innovants au sein d'une équipe dynamique. Je suis rigoureux, autonome et intéressé par l'apprentissage de nouvelles technologies.</p>
			<!--<p><strong>Je suis en recherche de poste en CDI, je suis disponible dès la fin du mois de Juin</strong>, <a href="CV-Freddy-Harris.pdf" target='_blank'>voir mon CV</a></p>-->
			<h1>Compétences</h1>
			<h2>Développement</h2>
			<ul>
				<li>PHP <span class="precision">(POO, GD)</span></li>
				<li>MySQL <span class="precision">(Merise)</span></li>
				<li>CakePHP <span class="precision">(framework MVC, ORM)</span></li>
				<li>Javascript</li>
				<li>jQuery <span class="precision">(framework, UI et mobile)</span></li>
				<li>ActionScript 3, Flex 4</li>
				<li>Git, Github</li>
			</ul>
			<h2>Veille Techno</h2>
			<ul>
				<li>Ruby on Rails</li>
				<li>HTML 5 <span class="precision">(API Javascript & Co)</span></li>
				<li>Backbone.js</li>
				<li>Node.js</li>
				<li>iOS <span class="precision">(Objective-C)</span></li>
				<li>Android <span class="precision">(Java)</span></li>
				<li>Ubuntu server</li>
			</ul>
			<h2>Conception</h2>
			<ul>
				<li>Interface homme-machine <span class="precision">(HMI)</span></li>
				<li>Ergonomie, Utilisabilité</li>
				<li>Expérience utilisateur <span class="precision">(UX)</span></li>
				<li>Architecture REST</li>
				<li>Ubimédia</li>
				<li>Web sémantique</li>
			</ul>
			<h2>Intégration</h2>
			<ul>
				<li>XHTML Strict</li>
				<li>HTML 5 <span class="precision">(balises sémantiques)</span></li>
				<li>CSS 2 & 3</li>
				<li>Photoshop</li>
				<li>Illustrator</li>
				<li>Flash <span class="precision">(Professional, Builder & Catalyst)</span></li>
				<li>Coda, Sublime Texte 2</li>
			</ul>
		</aside>
	</div>
</div>

<footer>
	<div class="row">
		<div id="social">
			<ul>
				<li id="mail"><a href="mailto:contact@harris-freddy.com">contact[at]harris-freddy.com</a></li>
				<li id="cv"><a href="CV-Freddy-Harris.pdf" target='_blank' >Curriculum vitæ</a></li>
				<!--<li id="tel"><span></span></li>-->
				<li><a target='_blank' href="http://twitter.com/HarrisFreddy"><img src="img/logotwitter.png" alt="Logo Twitter" /></a></li>
				<li><a target='_blank' href="http://plus.google.com/107160695104990265535/about"><img src="img/logogoogleplus.png" alt="Logo Google+" /></a></li>
				<li><a target='_blank' href="http://fr.linkedin.com/pub/freddy-harris/35/b99/3b"><img src="img/logolinkedin.png" alt="Logo Linkedin" /></a></li>
				<li><a target='_blank' href="http://www.viadeo.com/fr/profile/freddy.harris"><img src="img/logoviadeo.png" alt="Logo Viadeo" /></a></li>
			</ul>
		</div>
		<div id="tweets">
			<script src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 6,
			  interval: 6000,
			  width: 'auto',
			  height: 300,
			  theme: {
			    shell: {
			      background: 'rgba(0,0,0,0)',
			      color: '#ffffff'
			    },
			    tweets: {
			      background: 'rgba(0,0,0,0)',
			      color: '#fff',
			      links: '#00c0ff'
			    }
			  },
			  features: {
			    scrollbar: false,
			    loop: false,
			    live: false,
			    hashtags: true,
			    timestamp: true,
			    avatars: false,
			    behavior: 'all'
			  }
			}).render().setUser('HarrisFreddy').start();
			</script>
		</div>
	</div>
	<!--<img src="img/HTML5_1Color_White.png" alt="Logo HTML5" />-->
</footer>

    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7724228-1");
pageTracker._trackPageview();
} catch(err) {}</script>


<script src="app.js"></script>
</body>

</html>