<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Freddy Harris - Concepteur Développeur Web - JavaScript</title>
	<meta name="description" content="Portfolio développeur web curieux et passioné. J'aime le developpement en JavaScript et HTML 5, la conception en responsive web design et l'approche mobile first." />
	<meta name="viewport" content="initial-scale=1.0" />
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="image_src" href="img/meta_img_link.jpg" />
	
	<meta property="og:title" content="Freddy Harris - Concepteur Développeur Web - JavaScript" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.harris-freddy.com/" />
	<meta property="og:image" content="http://www.harris-freddy.com/img/meta_img_link.jpg" />
	<meta property="og:site_name" content="Portfolio Freddy Harris" />
	<meta property="fb:admins" content="1491019501" />
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.4.2/mustache.min.js"></script>-->

	<!--<script src="mylightbox.js"></script>
	<script type="text/javascript">$(document).ready(function() {
		
		//$('#works article').mylightbox();
		
	});</script>-->
</head>

<body>

<script type="text/template" id="works-collection-template">
  <% _.each(works, function(work) { %>
    <article data-slug="<%= work.slug %>">
			<img src="<%= work.thumbnail.img.src %>" alt="<%= work.thumbnail.img.alt %>" />
			<h1><%= work.thumbnail.title %></h1>
			<p><%= work.thumbnail.body %></p>
		</article>
  <% }); %>
</script>

<script type="text/template" id="lightbox-work-template">
	<div id="lightbox" class="disappear">
		<div id="lightbox-overlay"></div>
		<div class="row">
			<span id="closeLightbox" class="close-button">X</span>
			<div id="lightbox-image">
				<ul>
					<li><a target='_blank' href="<%= work.img[0] %>"><img src="/css/img/ajax-loader.gif" /></a></li><!--
					--><li><a target='_blank' href="<%= work.img[1] %>"><img src="/css/img/ajax-loader.gif" /></a></li><!--
					--><li><a target='_blank' href="<%= work.img[2] %>"><img src="/css/img/ajax-loader.gif" /></a></li>
				</ul>
			</div>
			<div id="lightbox-info">
				<h1><%= work.title %></h1>
				<dl>
					<dt>Présentation</dt>
					<dd><%= work.presentation %></dd>
					
					<dt>Contexte</dt>
					<dd><%= work.context %></dd>
					
					<dt>Compétences</dt>
					<dd><%= work.skill %></dd>
					
					<dt>État du projet</dt>
					<dd><%= work.state %></dd>
				</dl>
			</div>
		</div>
	</div>
</script>

<header>
	<div class="row">
		<div id="me">
			<svg id="logo" version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="78.3921" y1="58.0591" x2="78.3921" y2="94.5762">
					<stop  offset="0" style="stop-color:#545454"/>
					<stop  offset="1" style="stop-color:#020202"/>
				</linearGradient>
				<path fill="url(#SVGID_1_)" d="M87.489,84.78l5.604-25.634l-29.401-1.087l17.637,36.517C84.354,92.213,86.606,88.823,87.489,84.78z
					"/>
				<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="32.6626" y1="0" x2="32.6626" y2="97.4082">
					<stop  offset="0" style="stop-color:#545454"/>
					<stop  offset="1" style="stop-color:#020202"/>
				</linearGradient>
				<path fill="url(#SVGID_2_)" d="M22.036,87.945V0c-4.855,2.112-8.67,6.432-9.888,12L0.397,65.736
					c-2.012,9.214,3.822,18.312,13.032,20.326l51.897,11.346L49.818,63.017L22.036,87.945z"/>
				<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="74.4556" y1="2.6436" x2="74.4556" y2="50.3301">
					<stop  offset="0" style="stop-color:#545454"/>
					<stop  offset="1" style="stop-color:#020202"/>
				</linearGradient>
				<path fill="url(#SVGID_3_)" d="M99.239,31.042c2.014-9.21-3.821-18.31-13.03-20.323L49.275,2.644L95.021,50.33L99.239,31.042z"/>
			</svg>
			<!--<img id="logo" src="img/portfoliologo.png" alt="Logo curseur" />-->
			<hgroup>
				<h1>freddy</h1>
				<h2>harris</h2>
				<h3>concepteur et développeur web</h3>
			</hgroup>
		</div>
		<div id="education">
			<ul>
				<li><strong>Dev. Backbone JS chez <a target='_blank' href="http://www.useradgents.com/">userADgents</a></strong> <span class="precision">now</span></li>
				<li>Stage dev. PHP / JS chez <a target='_blank' href="http://kontestapp.com/fr/">Kontest</a> <span class="precision">2012</span></li>
				<li>Master 2 PSM <span class="precision">Montbéliard 2010 / 2012</span></li>
				<li>Licence SLIC/CM <span class="precision">Montbéliard 2009 / 2010</span></li>
				<li>DUT SRC <span class="precision">Le Puy-en-Velay 2007 / 2009</span></li>
			</ul>
		</div>
	</div>
</header>

<div id="content">
	<div class="row">
		<div id="works">
			<h1>Travaux</h1>
		</div>
		<aside>
			<h1>À propos</h1>
			<p>Curieux et passionné du web. Je suis développeur dans différentes technologies front-end et back-end. J’aime aussi participer à la conception d'un projet, à l’architecture de l’information et au design d’interface. Ces étapes sont essentielles lorsque l’on conçoit et developpe une webapp en <q cite="http://alistapart.com/article/responsive-web-design">responsive web design</q> dans une approche <q cite="http://www.lukew.com/ff/entry.asp?1137">mobile first</q>.</p>
			<p>Sensible aux standards du web, je suis aussi convaincu que <strong><q cite="https://blog.mozilla.org/blog/2012/02/27/mozilla-in-mobile-the-web-is-the-platform/">the web is the plateform</q></strong>. Je fais partis de ceux qui essayent d’imiter le -look and feel- des apps natives personnalisées. Tout en ayant en tête les possibilités et limites des technologies lors de la conception.</p>
			<p>J’aime travailler sur des projets innovants et ambitieux au sein d'une équipe dynamique. Je suis rigoureux, autonome et en veille permanente sur les nouvelles technologies.</p>
			<!--<p><strong>Je suis en recherche de poste en CDI, je suis disponible dès la fin du mois de Juin</strong>, <a href="CV-Freddy-Harris.pdf" target='_blank'>voir mon CV</a></p>-->
			<h1>Compétences</h1>

			<h2>Ma stack de dev</h2>
			<h3>Front-end</h3>
			<ul>
				<li>JavaScript</li>
				<li>Backbone, Marionette</li>
				<li>Require, Underscore, jQuery</li>
				<li>HTML 5, CSS 3</li>
				<li>Sass, Compass</li>
				<li>Yeoman (Yo, Grunt, Bower)</li>
			</ul>
			<h3>Back-end</h3>
			<ul>
				<li>Ruby on Rails</li>
				<li>PostgreSQL</li>
				<li>Node.js</li>
			</ul>
			<h3>Environnement</h3>
			<ul>
				<li>Git</li>
				<li>Sublime Text 2</li>
				<li>OS X</li>
			</ul>

			<h2>J'aime aussi</h2>
			<h3>Architecture & API</h3>
			<ul>
				<li>MVC</li>
				<li>REST</li>
			</ul>
			<h3>Design</h3>
			<ul>
				<li>Mobile first</li>
				<li>Responsive web design</li>
				<li>Interface homme-machine <span class="precision">(IHM)</span></li>
				<li>Design de l’interactivité et ergonomie</li>
				<li>Expérience utilisateur <span class="precision">(UX)</span></li>
				
			</ul>
			<h3>Prospectif</h3>
			<ul>
				<li>Ubimédia</li>
				<li>Web sémantique <span class="precision">(RDF, OWL, SPARQL)</span></li>
			</ul>

			<h2>Ancienne stack dev</h2>
			<h3>Front-end</h3>
			<ul>
				<li>xHTML, CSS 2</li>
				<li>ActionScript 3, Flex 4</li>
				<li>iOS <span class="precision">(Objective-C)</span></li>
			</ul>
			<h3>Back-end</h3>
			<ul>
				<li>PHP</li>
				<li>MySQL</li>
				<li>CakePHP</li>
				<li>Symfony 1</li>
			</ul>

			


		</aside>
	</div>
</div>

<footer>
	<div class="row">
		<div id="tweets">
			<a class="twitter-timeline" height="330" data-chrome="noborders transparent nofooter" href="https://twitter.com/HarrisFreddy" data-widget-id="359458130633043969">Tweets de @HarrisFreddy</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div id="social">
			<ul>
				<li id="mail"><a href="mailto:contact@harris-freddy.com">contact[at]harris-freddy.com</a></li>
				<li id="cv"><a href="CV-Freddy-Harris.pdf" target='_blank' >Curriculum vitæ</a></li>
				<!--<li id="tel"><span></span></li>-->
				<li><a target='_blank' href="http://twitter.com/HarrisFreddy"><img src="img/logotwitter.png" alt="Logo Twitter" /></a></li>
				<li><a target='_blank' href="http://plus.google.com/107160695104990265535/about"><img src="img/logogoogleplus.png" alt="Logo Google+" /></a></li>
				<li><a target='_blank' href="http://fr.linkedin.com/pub/freddy-harris/35/b99/3b"><img src="img/logolinkedin.png" alt="Logo Linkedin" /></a></li>
				<li><a target='_blank' href="http://www.viadeo.com/fr/profile/freddy.harris"><img src="img/logoviadeo.png" alt="Logo Viadeo" /></a></li>
			</ul>
		</div>
	</div>
</footer>

    <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7724228-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<script src="app.js"></script>
</body>

</html>